body {
	min-width: 400px;
	background-image: linear-gradient(#E9E9FF, #E9F3FF);
    background-attachment: fixed;
}

li::marker {
	content: none;
}

ul ul {
	padding-inline-start: 0px;
}

td:first-child {
  min-width: 12em;
}

input {
	width: 250px;
	height: 2em;
	background-color: #f8f9fa;
	box-sizing: border-box;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	font-size: 0.8em;
	transition: border-color 250ms,box-shadow 250ms;
}

input:focus, input:hover {
	outline: 0;
	border-color: #3366cc;
	box-shadow: inset 0 0 0 1px #3366cc, inset 0 0 0 2px #ffffff;
}

button {
	color: #fff;
	background-color: #36c;
	min-width: 4em;
	height: 2em;
	border: 1px solid #a2a9b1;
	cursor: pointer;
	font-size: 0.8em;
	font-weight: bold;
}

button:hover {
	background-color: #ffffff;
	color: #202122;
	border-color: #3366cc;
	box-shadow: inset 0 0 0 1px #3366cc, inset 0 0 0 2px #ffffff;
	outline-width: 0;
	outline-color: #3366cc;
}

select {
	background-color: #f8f9fa;
	font-size: 1.4em;
	border-color: #36c;
    box-shadow: inset 0 0 0 1px #36c;
    transition: background-color 100ms,border-color 100ms,box-shadow 100ms;
    cursor: pointer;
    min-height: 1.6em;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    padding: 5px 2em 5px 12px;
    
}

select:hover {
	background-color: #fff;
}

#save, #add {
	font-size: 1.5em;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
